DEBUG=true
PORT=3001

REDIS_URL=redis://localhost:6379
DB_URL=postgresql://sentinel:sentinel@localhost:5432/sentinel
RABBITMQ_URL=amqp://sentinel:sentinel@localhost:5672

TRACKER_URL=http://localhost:3032/api

POLYGON_API_KEY=your_key_here
